
.footer{
    background: #7854F7;

}
.fottop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:20px 0;
}
h6{
    color: #fff;
}
.fotbottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    
}