
.footer{
    background: #7854F7;

}
.fottop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:20px 0;
}
h6{
    color: #fff;
}
.fotbottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    
}
.da{
    font-size:28px;
}
.avg{
    text-align:center;
}
.logob{
    margin: 10px;;
}
.bottombot{
    padding: 12px;
    display: flex;
    justify-content: space-around;
}
.icon{
    font-size: 25px !important;
    margin-right: 15px;
}