body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kotta{
  background-image:url("./img/Vectornavbar.png");
  background-position:right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:600px;
  background-color: #E5E5E5;

}
.navbar{
  background-color: transparent;
}

.navbar.colorChange{
  background-color: #7854F7;
}
